{
   project =
   {
      version="0.8.0";
      description="🛸 mulle-core-all-load does something";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-core-all-load";
      user="mulle-core";
      repo="mulle-core-all-load";
      homepage="https://github.com/mulle-core/mulle-core-all-load";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="A C library that may be linked into a C/C++ program to produce symbolic backtraces";
         domain="github";
         name="libbacktrace";
         repo="libbacktrace";
         url="https://github.com/mulle-core/libbacktrace";
         user="mulle-core";
      },
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      },
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      },
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="github";
         name="mulle-thread";
         repo="mulle-thread";
         url="https://github.com/mulle-concurrent/mulle-thread";
         user="mulle-concurrent";
      }
   );
   amalgamated =
   (
      {
         description="🤱🏼 Compatibility library for deterministic initializers";
         domain="clib";
         name="src/mulle-atinit";
         repo="mulle-atinit@*";
         url="https://github.com/mulle-core/mulle-atinit@*";
         user="mulle-core";
      },
      {
         description="👼 Compatibility library to fix atexit";
         domain="clib";
         name="src/mulle-atexit";
         repo="mulle-atexit@*";
         url="https://github.com/mulle-core/mulle-atexit@*";
         user="mulle-core";
      },
      {
         description="♿️ Shared library helper";
         domain="clib";
         name="src/mulle-dlfcn";
         repo="mulle-dlfcn@*";
         url="https://github.com/mulle-core/mulle-dlfcn@*";
         user="mulle-core";
      },
      {
         description="👣 Stracktrace support for various OS";
         domain="clib";
         name="src/mulle-stacktrace";
         repo="mulle-stacktrace@*";
         url="https://github.com/mulle-core/mulle-stacktrace@*";
         user="mulle-core";
      }
   );
   embedded =
   (
      {
         description="dlfcn-win32 [![Build status](https://ci.appveyor.com/api/projects/status/celmbkqj0k41fk04/branch/master?svg=true)](https://ci.appveyor.com/project/dlfcn-win32/dlfcn-win32/branch/master)";
         domain="github";
         name="dlfcn-win32";
         repo="dlfcn-win32";
         url="https://github.com/mulle-core/dlfcn-win32";
         user="mulle-core";
      }
   );
}
